.check {
    appearance: none;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    border: 2px solid #23CFC7;
    border-radius: 4px;
    cursor: pointer;
  }
  .check:checked {
      background-color: #ec5408; 
      border: 1px solid #d83908; 
    }
    
    .check:checked::after {
      content: "";
      display: block;
      width: 5px;
      height: 5px;
      border-radius: 2px;
      border: none;
      background-color: #ffffff; 
      transform: rotate(2deg)
    }